body{
  font-family: "Montserrat";
}


h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  color: white;
  padding-bottom: 5%;
}

h2 {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.5;
}

h3 {
  font-weight: 600;
}

#title{
  background-color: #ff4c68;
}

#headtitle{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.iphoneimage{
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%

}

.row{
  margin-left: 0;
}

.download-button{
  margin: 5% 3% 5% 0;
}

/* Features Section */
#features{
  background-color: white;
  position: relative;
  z-index: 1;
}


.feature-icons{
  color: #ef8172;
  transform: scale(2.6);
  margin-bottom: 5%;
}

.feature-icons:hover{
  color:#ff4c68;
}

.feature-texts{
  color: #8f8f8f;
}

.feature-tables{
  margin-top: 10px;
  padding: 3%;
}

.feature-headings{
  font-size: 1.5rem;
  font-weight: bold;
}

/* Testimonal Section */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Carousel Section */

.carousel-item {
padding: 7% 15%;
}

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%
}


/* Call to Action */

#cta {
  background-color: #ff4c68;
  text-align: center;
}

.h3-cta {
  padding-top: 5%;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  width: 40%;
  margin: auto;
}

/* Footer */

#footer {
  background-color: #fff;
  text-align: center;
  padding: 2% 0 2%;
}

.footer-icons {
  margin: 1%;
  cursor: pointer;
}

.footer-icons:hover {
color: #ff4c68;
}


.copyright-p {
  color: #8f8f8f;
  font-size: 0.75rem;
}
/* Media Query */
@media (max-width: 993px) {


  #title{
    text-align: center;
  }
  .iphoneimage{
    transform: rotate(0deg);
    width: 60%;
    position: static;
    right: 30%;
    }

  .dog-head-1{
    text-align: center;
  }
}
